In [7]:
# csv파일을 읽어서 데이터프레임으로 만들기
import pandas as pd

data = pd.read_csv('../dataset/dailydialog_table_all.csv')

In [8]:
data

,dialog_id,turn,speaker,utterance,emotion,cause turn,cause span,cause_type,explanation
0,tr_4466,1,A,"Hey , you wanna see a movie tomorrow ?",happy,[1],['see a movie tomorrow ?'],['no-context'],NaN
1,tr_4466,2,B,Sounds like a good plan . What do you want to ...,happy,[1],['see a movie tomorrow ?'],['inter-personal'],NaN
2,tr_4466,3,A,How about Legally Blonde .,neutral,NaN,NaN,NaN,NaN
3,tr_4466,4,B,"Ah , my girlfriend wanted to see that movie . ...",neutral,NaN,NaN,NaN,NaN
4,tr_4466,5,A,Isn't that a scary movie ?,neutral,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
11099,tr_10060,6,B,"Yes , of course .",happy,[5],['Can you give her a message'],['inter-personal'],NaN
11100,tr_10060,7,A,Please tell her to give Colin a call when she ...,neutral,NaN,NaN,NaN,NaN
11101,tr_10060,8,B,Sure .,happy,"[5, 7]","['Can you give her a message', 'Please tell he...",['inter-personal'],NaN
11102,tr_10060,9,A,Thank you for your help .,happy,"[5, 7, 8]","['Can you give her a message', 'Please tell he...",['hybrid'],NaN
11103,tr_10060,10,B,It's my pleasure .,happy,[9],['Thank you for your help .'],['inter-personal'],NaN

In [9]:
# data 의 emotion에 어떤 종류가 오는지
data['emotion'].unique()

array(['happy', 'neutral', 'angry', 'surprise', 'disgust', 'sad', 'fear',
       'excited'], dtype=object)

In [5]:
data = pd.read_csv('../dataset/dailydialog_table.csv')
data

     dialog_id emotion  len
0      tr_4466   happy    9
1      tr_7536   angry   10
2       tr_754   happy    8
3      tr_4110   happy    5
4      tr_3432   happy    5
...        ...     ...  ...
1101    te_999   happy   12
1102   tr_9789   happy    7
1103    te_767     sad    6
1104    te_796   happy    8
1105  tr_10060   happy   10

[1106 rows x 3 columns]

In [10]:
# len 순으로 정리
data.sort_values(by='len', ascending=False)

KeyError: 'len'